;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Jul 29 02:39:56 2013
;; Desktop file format version 206
;; Emacs version 24.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("a:/GSOC - PDE Solver/GSoC_PDE_solver/test"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  nil
  "pde"
  'dired-mode
  '(linum-mode)
  982
  '(982 nil)
  t
  '("a:/GSOC - PDE Solver/GSoC_PDE_solver/src/pde/")
  nil)

(desktop-create-buffer 206
  nil
  "GSoC_PDE_solver"
  'dired-mode
  '(linum-mode)
  785
  '(nil nil)
  t
  '("a:/GSOC - PDE Solver/GSoC_PDE_solver/")
  nil)

(desktop-create-buffer 206
  "a:/GSOC - PDE Solver/GSoC_PDE_solver/test/2ndOrder.scala"
  "2ndOrder.scala"
  'scala-mode
  '(auto-indent-minor-mode auto-complete-mode autopair-mode linum-mode)
  492
  '(492 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-dos)))

(desktop-create-buffer 206
  "a:/GSOC - PDE Solver/GSoC_PDE_solver/build.sbt"
  "build.sbt"
  'scala-mode
  '(auto-indent-minor-mode auto-complete-mode autopair-mode linum-mode)
  276
  '(276 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-dos)))

(desktop-create-buffer 206
  "a:/GSOC - PDE Solver/GSoC_PDE_solver/src/pde/Solver.scala"
  "Solver.scala"
  'scala-mode
  '(auto-indent-minor-mode auto-complete-mode autopair-mode linum-mode)
  793
  '(793 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  nil
  "src"
  'dired-mode
  '(linum-mode)
  435
  '(nil nil)
  t
  '("a:/GSOC - PDE Solver/GSoC_PDE_solver/src/")
  nil)

(desktop-create-buffer 206
  nil
  "test"
  'dired-mode
  '(linum-mode)
  242
  '(nil nil)
  t
  '("a:/GSOC - PDE Solver/GSoC_PDE_solver/test/")
  nil)

